* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
  /* background-color: blueviolet; */
  width: 100%;

  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: rgb(90, 90, 90);
}

label {
  display: inline-block;
  width: 180px;
  text-align: right;
  color: rgb(63, 63, 63);
  font-size: 1rem;
}

input {
  padding: 0.5rem 0 0 0.3rem;
  margin: 0.5rem 0 0 0.3rem;
  border-radius: 3px;
  border: 1px solid rgb(209, 209, 209);
  font-size: 1.2rem;
  color: rgb(63, 63, 63);
  /* text-align: center; */
}

.button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin: 1rem 0;
  background-color: rgb(43, 43, 231);
  color: white;
  transition: 0.5s ease-in-out;
  font-size: 1rem;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(75, 8, 231, 0.925);
  transition: 0.3s ease-in-out;
}

.container {
  margin-bottom: 130px;
  height: 100%;
}

.header {
  align-items: center;
  /* padding: 0 d0 0 1rem; */
}

.backToHome {
  padding: 2rem;
  position: absolute;
  left: 5rem;
}

.logo {
  padding: 1rem;
  /* background-color: aqua; */
}

.blueBackgroundImage {
  max-height: 250px;
  overflow: hidden;
  /* background-color: bisque; */
  /* height: 200px; */
}

.blueBackgroundImage img {
  width: 100%;
}

@media only screen and (max-width: 670px) {
  .backToHome {
    left: 1rem;
    top: 1rem;
    padding: 0;
  }
}

.navbar {
  background-color: rgba(245, 245, 245, 0.993);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  min-width: 600px;
}

.logo {
  width: 8rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.logo img {
  width: 100%;
}

ul {
  display: flex;
  width: 20rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}

li a {
  font-size: 1.1rem;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  color: rgb(90, 90, 90);
  padding: 1rem 0px;
  /* background-color: antiquewhite; */
}

h2 {
  font-size: 1.7rem;
  color: rgb(90, 90, 90);
  padding: 1rem 0px;
  /* background-color: azure; */
}

section {
  margin: 1rem;
  padding: 2rem;
}

fieldset {
  position: relative;
  padding: 1rem;
  color: rgb(63, 63, 63);
  border-radius: 5px;
  border: 1px solid rgb(233, 232, 232);
}

.fieldsetLegend {
  /* position: absolute; */
  margin-left: 0.3rem;
}

.sectionNum {
  padding: 0 0.5rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: lightcoral; */
  padding-bottom: 1rem;
}

.form {
  /* background-color: lightcoral; */
}

.footer {
  margin: 10rem 0 0 0;
  padding: 2rem;
  background-color: rgba(245, 245, 245, 0.993);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 100%;
  text-align: center;

  position: absolute;
  left: 0;
  bottom: 0;
}

.cardBox {
  /* background-color: lightgreen; */
  columns: 370px;
  break-inside: avoid;
  padding: 2rem;
  margin: auto;
  /* height: 100vh; */
  /* width: 95%; */
}

.formItemCard {
  min-width: 15rem;
  max-width: 17rem;
  min-height: 14rem;
  padding: 1rem;

  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr;

  break-inside: avoid;

  margin: 0px 1px 40px 1px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
}

.formDetail {
  width: 600px;
  height: 1200px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
  margin: 2rem 0;
}

.formLine {
  padding: 1rem 0.5rem;
  color: rgb(10, 10, 10);
}

.lineTitle {
  color: rgb(100, 100, 100);
}
